#calculator{
	width: 700px;
	text-align:center;
	background-color: #EEEEEE;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0;
}

#display{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#buttons{
	display: flex;
}

.button{
	text-align: center;
	width: 100px; height: 100px;
	margin: 10px;
}