#calculator{
	width: 700px;
	text-align:center;
	background-color: #EEEEEE;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid;
}

#display{
	width: 90%;
	height: 50px;
	border: 20px solid;
	border-color: #EEEEEE;
	background-color: #A3A8A5;
	color: black;
	margin: 0 auto 0 auto;
	text-align: center;
	vertical-align: center;
	line-height: 50px;
}

#buttons{
	display: flex;
}

.button{
	text-align: center;
	width: 100px; height: 100px;
	margin: 20px 9px 20px 9px;
}