#calculator{
	width:28%;
	text-align:center;
	background-color: #EEEEEE;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 0;
}

#display{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#buttons{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 90%;
}

.button{
	text-align: center;
	width: 8em; height: 8em;
	margin: 1.6em;
}